{% extends 'baseBS.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}" />
{% endblock %}
{% block content %}
  <h1>Authors</h1>
  <div class="sample">
    {% for x in authors %}
      <div class="card" style="margin: 1rem;">
        <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
          <h5 class="card-title" style="margin: 1rem;">{{ x.name }}</h5>
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('edit_author', id = x.id) }}"><input type="button" name="editer" id="editer" value="Editer" style="border: 1px solid black; padding: 0.5rem; border-radius: 0.5rem; background-color: transparent;" /></a>
          <a href="{{ url_for('delete_author', id = x.id) }}"><input type="button" name="delete" id="delete" value="Supprimer" style="border: 1px solid black; padding: 0.5rem; border-radius: 0.5rem; background-color: transparent; margin-left: 1rem;" /></a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
