<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"/>
</head>

<body>
    <h1>{{ title }}</h1>
    {% block content %}{% endblock %}
</body>

</html>