<!DOCTYPE html>
<html lang="fr">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  {% block styles %}
  <!-- Bootstrap CSS -->
  {{ bootstrap.load_css() }}
  {% endblock %}
  <title>Ma bibliothèque SF</title>
  {% endblock %}
</head>

<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">My Books</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle
    navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/authors/">Authors</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/books/favoris/">Favoris</a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link disabled">Favoris</a>
            </li>
            {% endif %}
          </ul>
          {% if current_user.is_authenticated %}
          <a class="a-username" style="color: rgb(0, 179, 80); text-decoration: none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; margin: 0; margin-right: 1rem;">{{ current_user.username }}</a>
          <a href="{{ url_for('logout') }}"><button class="btn btn-outline-success" type="button">Logout</button></a>

          {% endif %}
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('login') }}"><button class="btn btn-outline-success" type="button">Login</button></a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <!-- Your page content -->
  <main class="flex-shrink-0">
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </main>
  <footer class="footer-mk">
    <div class="footer-div">
      <p class="text-center">© 2023 - My Books by Téo Mikulic & Bastian Rapine</p>
    </div>
  </footer>
  {% block scripts %}
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  {% endblock %}
</body>

</html>