{% extends 'baseBS.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}" />
{% endblock %}
{% block content %}
  <h1>{{ book.title }}</h1>
  <div class="sample">
    <a href="{{ book.url }}"><img src="{{ url_for('static', filename = 'images/' + book.img) }}" alt="{{ book.title }}" title="{{ book.title }}" /></a>
    <p>{{ book.price }} €</p>
    {% if current_user.is_authenticated %}
      {% if book.author %}
        <p>
          Ecrit par : <a href="{{ url_for('edit_author', id = book.author_id) }}">{{ book.author }}</a>
        </p>
      {% else %}
        <p>Ecrit par : "Deleted-Author"</p>
      {% endif %}
      <a href="{{ url_for('edit_book', id = book.id) }}"><input type="button" style="border: 1px solid black; padding: 0.5rem; border-radius: 0.5rem; background-color: transparent;" value="Editer" /></a>
      <a href="{{ url_for('add_book_to_favoris', id = book.id) }}"><input type="button" style="border: 1px solid black; padding: 0.5rem; border-radius: 0.5rem; background-color: transparent;" value="Favoris" /></a>
    {% endif %}
    {% if not current_user.is_authenticated %}
      <p>Ecrit par : {{ book.author }}</p>
    {% endif %}
  </div>
{% endblock %}
