{% extends "baseBS.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<h1>Edit book : {{ book.title }}</h1>
<form role="form" method="POST" action="{{ url_for('save_book') }}">
    {{ form.hidden_tag () }}
    <div class={% if form.title.errors %} "form-group has-error" {% else %} "form-group" {% endif %}>
        {{ form.title.label }} {{ form.title(size =50, class_ ="form-control") }}
    </div>
    {% if form.title.errors %}
    <ul class="list-group">
        {% for e in form.title.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if current_user.is_authenticated %}
    {% endif %}
    <input class="btn btn-default" type="submit" value="Enregistrer" style="border-color: black; margin: 1rem; margin-left: 0;">
</form>

{% endblock %}