{% extends "baseBS.html" %}
{% block content %}
<h1>Edit author : {{ author.name }}</h1>
<form role="form" method="POST" action="{{ url_for('save_author') }}">
    {{ form.hidden_tag () }}
    <div class={% if form.name.errors %} "form-group has-error" {% else %} "form-group" {% endif %}>
        {{ form.name.label }} {{ form.name(size =50, class_ ="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
        {% for e in form.name.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if current_user.is_authenticated %}
    <input class="btn btn-default" type="submit" value="Enregistrer" style="border-color: black; margin: 1rem; margin-left: 0;">
    {% endif %}
    

</form>

{% endblock %}