{% extends 'baseBS.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}" />
{% endblock %}
{% block content %}
  <h1>Favoris</h1>
  <div class="sample">
    {% for x in favoris %}
      <div class="card" style="margin: 1rem;">
        <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
          {% if current_user.is_authenticated %}
            <h5 class="card-title" style="margin: 1rem;">{{ x.title }}</h5>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
