{% extends 'baseBS.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css') }}" />
{% endblock %}
{% block content %}
<h1>My books</h1>
<div class="sample">
  {% for x in books %}
  <div class="div-pres" style="border: 2px rgb(0, 138, 80) solid">
    <h3 class="books-title">{{x.title}}</h2>
      <a href="{{ url_for('detail', id = x.id) }}">
        {% if x.img == None %}
        <img class="img" src="{{ url_for('static', filename = 'images/noimage.png') }}" alt="{{ x.title }}" title="{{ x.title }}" />
        {% else %}
        <img class="img" src="{{ url_for('static', filename = 'images/' + x.img) }}" alt="{{ x.title }}" title="{{ x.title }}" />
        {% endif %}
      </a>
  </div>
  {% endfor %}
</div>
{% endblock %}