h1 {
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div.sample {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

main {
    margin-top: 8em;
}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 2rem;
}

#sign-in {
    color: #000;
}

.footer-mk {
    background-color: #f5f5f5;
    margin-top: auto;
    min-height: 100%;
}

.footer-mk p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #000;
}
.footer-div {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
}

.text-center {
    text-align: center;
}

.div-pres {
    margin: 1rem;
    border: rgb(0, 138, 80) 1px solid;
    align-self: center;
    height: auto;
    width: fit-content;
    border-radius: 1rem;
}

.books-title {
    color : rgb(0, 138, 80);
    font-size: 1.2rem;
    margin: 0.5rem;
}

.img {
    margin: 1rem;
}

div.sample {
    display: flex;
    flex-direction: column;
}